:root {
  --color-white: #ffffff;
  --color-almost-red: #eb5440;
  --color-dark-grey: #4a4b4c;
  --color-light-grey: #e8e8e8;
  --color-grey: #c3c3c3;
  --color-off-white: #f6f6f6;
  --color-black: #000000;
  --color-blue: #067bc2;
  --font-headers: 'Montserrat';
  --font-sub-text: 'Open Sans';
}

:root {
  --color-primary: var(--color-almost-red);
  --color-secondry: var(--color-dark-grey);
  --color-tertiary-1: var(--color-light-grey);
  --color-tertiary-2: var(--color-grey);
  --color-background-1: var(--color-off-white);
  --color-background-2: var(--color-white);
}
