@import './base.css';

#app {
  background-color: var(--color-background-1);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-background-1);
}

.container {
  padding: 50px 200px;
}

.router-link-active {
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
}

p,
span {
  font-family: var(--font-sub-text);
}

.form-page {
  background-image: url('../assets/imgBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  height: 1400px;
}

@media only screen and (max-width: 835px) {
  .container {
    padding: 10px;
  }

  .form-page {
    height: 1350px;
  }
}
